<%- include('./templates/template.ejs') %> 
    <body>
        <main>
            <h1 class="title">Ganador</h1>
            <h3><%= player.winner%></h3>
        </main>
        <script src="/javascripts/rollDice.js"></script>
    </body>
</html>